body {
}

section {
	width: 100vw;
	height: 100vh;
	background-color: var(--g-color-1);
}

img {
	width: 100%;
	height: 100%;
	opacity: .5;
	position: absolute;
	object-fit: cover;
}

.modal_form {
	position: relative;
	z-index: 1;
}

.title {
	width: 300px;
	text-align: center;
	margin-top: 10%;
	padding: 20px 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0 0 10px var(--g-color-black);
	font-size: 20px;
	font-weight: bold;
	background-color: var(--g-line-grey);
}

form {
	width: 300px;
	padding: 10px 20px;
	text-align: center;
	background-color: white;
}

.result {
	width: 300px;
	min-height: 80px;
	padding: 10px 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 16px;
	text-align: center;
	background-color: white;
}

.part1,
.part2,
.part3 {
	padding-top: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	margin-left: 5px;
	color: var(--g-color-black);
}

input::placeholder {
	color: var(--g-light-grey) !important;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.response {
	font-size: 20px;
	font-weight: bold;
	color: var(--g-color-2);
}

.error {
	color: var(--g-color-red);
	opacity: 0;
	animation-name: errorAnim;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}
@keyframes errorAnim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
